@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #878787;
}
/* -----------estilo header---------- */
header{
    background-color: #181818;
    display: flex;
    /* justify-content: space-evenly; */
    height: 3rem;
    align-items: center;
}
header h3{
    color: #AA8C55;
    margin-left: 5.5rem;
    margin-right: 19rem;
}
header a{
    margin-left: 2rem;
}
header button{
    margin-left: 2rem;
    margin-right: 5.5rem;
}

/* -------estilo primera seccion-------- */
.inicio{
    /* background-color: aqua; */
    background-image: url(../img/Escritorio.jpg);
    background-position: center center;
    background-size: 100% 100%;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inicio h4{
    color: white;
}
.inicio h1{
    color: white;
}
.inicio h3{
    color: #AA8C55;
}

/* ---------estilo segunda seccion------- */
.sobremi{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}
.sobremi .infosobremi{
    background-color: #181818;
    width: 33%;
    padding: 5.5em 5.5em;
}
.sobremi .infosobremi h1{
    color: #878787;
}
.sobremi .infosobremi p{
    color: #878787;
}

.sobremi .fotoperfil{
    width: 50%;
}
.sobremi .fotoperfil .imgsobremi{
    width: 100%;
}

/* --------estilo tercera seccion------- */
.marginauto{
    width: 85%;
    margin: 0 auto;
}
.servicios{
    background-color: beige;
    padding-top: 5.5em;
}
.servicios h1{
    text-align: center;
    color: #878787;
}

.servicios .divunoservicios{
    display: flex;
}
.servicios .divdosservicios{
    display: flex;
}

/* --------estilo cuarta seccion------- */
.portfolio{
    background-color: lightgreen;
    padding-top: 5.5em;
}
.portfolio h1{
    text-align: center;
}
.portfolio .botonesportfolio{
    display: flex;
    justify-content: space-evenly;
}
.portfolio .imagenesportfolio{
    display: flex;
}
.portfolio .imagenesportfolio .imgportf{
    width: 30%;
}

/* --------estilo quinta seccion------- */
.contactame{
    background-color: lightcoral;
    padding: 5.5em 0;
}
.contactame h1{
    text-align: center;
}
.contactame .infocontacto{
    display: flex;
}
.contactame .contactameizq{
    width: 43%;
}
.contactame .contactameizq .flexicono{
    display: flex;
}
.contactame .contactameder{
    width: 57%;
}

/* ----------estilo footer----------- */
footer{
    background-color: lightpink;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
footer h3{
    text-align: center;
}
footer .redes{    
    text-align: center;
}
footer .copyright{
    display: flex;
    justify-content: center;
}