/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: #878787;
    font-size: .9rem;
    margin-left: 2rem;
}
input{
    border: none;
}
/* -----------estilo header---------- */
header{
    background-color: #181818;
    display: flex;
    height: 3.5rem;
    align-items: center;
    position: fixed;
    width: 100%;
}
header h4{
    color: #AA8C55;
    margin-left: 5.5rem;
    margin-right: 18rem;
}
header button{
    font-size: .9rem;
    margin-left: 2rem;
    margin-right: 5.5rem;
    padding: .4rem .6rem;
    color: white;
    background-color: #AA8C55;
    border-radius: .1rem;
    border: none;
}

/* -------estilo primera seccion-------- */
.inicio{
    background-image: url(../img/Escritorio.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgb( 25, 25, 25);
    background-blend-mode: soft-light;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inicio h4{
    color: white;
    margin-bottom: -0.7rem;
}
.inicio h1{
    color: white;
    font-size: 3rem;
}
.inicio h3{ 
    color: #AA8C55;
    margin-top: -0.2rem;
    margin-bottom: 1.3rem;
}
.inicio .botontrabajos{
    color: white;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: .2rem;
    border: 2px solid #878787;
    margin-right: .3rem;
}
.inicio .botoncontratame{
    color: white;
    background-color: #AA8C55;
    padding: .5rem 1rem;
    border-radius: .2rem;
    border: 2px solid #0A0A0A;
}


/* ---------estilo segunda seccion------- */
.sobremi{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.sobremi .infosobremi{
    background-color: #181818;
    width: 33%;
    padding: 5.5em 6em 6em 5.5em;
}
.sobremi .infosobremi h1{
    color: #878787;
    margin-bottom: 1rem;
}
.sobremi .infosobremi p{
    color: #878787;
    font-size: .9rem;
}

.sobremi .fotoperfil{
    width: 50%;
}
.sobremi .fotoperfil .imgsobremi{
    width: 100%;
}

/* --------estilo tercera seccion------- */
.marginauto{
    width: 83%;
    margin: 0 auto;
}
.servicios{
    background-color: #0A0A0A;
    padding-top: 5.5em;
}
.servicios h1{
    text-align: center;
    color: #878787;
    margin-bottom: 3rem;
}

.servicios .marginauto .divunoservicios{
    display: flex;
    justify-content: space-between;
}
.servicios .marginauto .divunoservicios div{
    border: #0A0A0A 1px solid;
    background-color: #121212;
    flex-basis: 27%;
    border-bottom: #AA8C55 2px solid;
    margin-bottom: 1.5em;
    padding: 2rem 1.3rem;
}

.servicios .marginauto .divdosservicios{
    display: flex;
    justify-content: space-between;
}
.servicios .marginauto .divdosservicios div{
    border: #0A0A0A 1px solid;
    background-color: #121212;
    flex-basis: 27%;
    border-bottom: #AA8C55 2px solid;
    padding: 2rem 1.3rem;
}

.servicios .marginauto div img{
    width: 3.3vw;
    margin-bottom: .5em;
}
.servicios .marginauto div h4{
    color: white;
    margin-bottom: .5rem;
}
.servicios .marginauto div p{
    color: #878787;
    font-size: .8rem;
}

/* --------estilo cuarta seccion------- */
.portfolio{
    background-color: #0A0A0A;
    padding-top: 5.5em;
}
.portfolio .marginauto h1{
    color: #878787;
    text-align: center;
    margin-bottom: 2.5rem;
}
.portfolio .marginauto .botonesportfolio{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
}
.portfolio .botonesportfolio button{
    padding: .5rem 1.5rem;
    border-radius: .2rem;
    border: none;
}
.portfolio .marginauto .botonesportfolio .botontodos{
    color: white;
    background-color: #AA8C55;
}
.portfolio .botonesportfolio .botonescritorio{
    background-color: #0A0A0A;
    color: #878787;
}
.portfolio .botonesportfolio .botontablet{
    background-color: #0A0A0A;
    color: #878787;
}
.portfolio .botonesportfolio .botonmovil{
    background-color: #0A0A0A;
    color: #878787;
}

.portfolio .imagenesportfolio{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}
.portfolio .imagenesportfolio .imgportf{
    width: 26.2vw;
    height: 38vh;
    object-fit: cover;
    border-radius: .1rem;
}

/* --------estilo quinta seccion------- */
.contactame{
    background-color: #0A0A0A;
    padding: 5em 0 5.5em 0;
}
.contactame .marginauto h1{
    text-align: center;
    color: #878787;
    margin-bottom: 3rem;
}
.contactame .marginauto .infocontacto{
    display: flex;
}
.contactame .marginauto .infocontacto .contactameizq{
    width: 43%;
}
.contactame .marginauto .infocontacto .contactameizq div{
    margin-bottom: 1.5rem;
}
.contactame .marginauto .infocontacto .contactameizq .iconosinfo{
    color: white;
    margin-right: .3rem;
}
.contactame .infocontacto .contactameizq h4{
    color: #AA8C55;
    margin-bottom: .3rem;
}
.contactame .infocontacto .contactameizq p{
    color: #878787;
}
.contactame .contactameizq .flexicono{
    display: flex;
    font-size: .8rem;
}

.contactame .contactameder{
    width: 57%;
}
.contactame .marginauto .infocontacto .contactameder .inputnombre{
    padding: .5rem 1rem;
    background-color: #181818;
}
.contactame .marginauto .infocontacto .contactameder .inputemail{
    padding: .5rem 1rem;
    background-color: #181818;
    margin-left: .5rem;
    width: 21.5vw;
}
.contactame .marginauto .infocontacto .contactameder .inputasunto{
    margin: 1rem 0;
    padding: .5rem 0 .5rem 1rem;
    background-color: #181818;
    width: 44.8vw;
}
.contactame .marginauto .infocontacto .contactameder .inputmensaje{
    margin-bottom: 1rem;
    padding: .5rem 0 4rem 1rem;
    background-color: #181818;
    width: 44.8vw;
}

.contactame .marginauto .infocontacto .contactameder button{
    background-color: #AA8C55;
    color: white;
    border: none;
    border-radius: .2rem;
    padding: .5rem 2.5rem;
}

/* ----------estilo footer----------- */
footer{
    background-color: #181818;
    padding-top: 1.3em;
    padding-bottom: 1em;
}
footer h4{
    text-align: center;
    color: white;
    margin-bottom: 1.3rem;
}

footer .redes{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -1.5rem;
}

footer .redes .linkredes{
   
    background-color: #414141;
    transform: rotate(60deg);
    border-radius: .2rem;

}
footer .redes .linkredes img{
    width: 3vw;
    height: 3vh;
    padding: .4rem .1rem 0 0;
}
footer .redes .linkredes .iconoface{
    height: 2.7vh;
}

footer .copyright{
    display: flex;
    justify-content: center;
    color: #AA8C55;
    margin-top: 1.3em;
}
footer .copyright p{
    margin-left: .3rem;
    font-size: .6rem;
}
footer .copyright .copy{
    font-size: .6rem;
}