header{
    background-color:antiquewhite;
}
.inicio{
    background-color: aqua;
}
.sobremi{
    background-color: aquamarine;
}
.servicios{
    background-color: beige;
}
.portfolio{
    background-color: lightgreen;
}
.contactame{
    background-color: lightcoral;
}

